<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="" />
 <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
 <meta name="generator" content="Hugo 0.72.0" />
 <title>Teachers Dashboard</title>

 <link rel="stylesheet" href="/boot/css/bootstrap.css" />



 <style>
  .bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
  }

  @media (min-width: 768px) {
   .bd-placeholder-img-lg {
    font-size: 3.5rem;
   }
  }

  body {
   font-size: 0.875rem;
  }

  .feather {
   width: 16px;
   height: 16px;
   vertical-align: text-bottom;
  }

  /* Sidebar*/

  .sidebar {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 100;
   /* Behind the navbar */
   padding: 48px 0 0;
   /* Height of navbar */
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 767.98px) {
   .sidebar {
    top: 5rem;
   }
  }

  .sidebar-sticky {
   position: relative;
   top: 0;
   height: calc(100vh - 48px);
   padding-top: 0.5rem;
   overflow-x: hidden;
   overflow-y: auto;
   /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar .nav-link {
   font-weight: 500;
   color: #333;
  }

  .sidebar .nav-link .feather {
   margin-right: 4px;
   color: #727272;
  }

  .sidebar .nav-link.active {
   color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
   color: inherit;
  }

  .sidebar-heading {
   font-size: 0.75rem;
   text-transform: uppercase;
  }

  /*Navbar*/
  .navbar-brand {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   font-size: 1rem;
   background-color: rgba(0, 0, 0, 0.25);
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  }

  .navbar .navbar-toggler {
   top: 0.25rem;
   right: 1rem;
  }

  .navbar .form-control {
   padding: 0.75rem 1rem;
   border-width: 0;
   border-radius: 0;
  }

  .form-control-dark {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.1);
   border-color: rgba(255, 255, 255, 0.1);
  }

  .form-control-dark:focus {
   border-color: transparent;
   box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
  }

  .dashboard {
   padding-left: 15rem;
  }
 </style>
</head>

<body>
 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Afro wise</a>


  <ul class="navbar-nav px-3">
   <li class="nav-item text-nowrap">
    <a class="nav-link" href="/user/teacher/logout">Log out</a>
   </li>
  </ul>

 </nav>

 <div class="container-fluid">
  <div class="row">
   <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
     <ul class="nav flex-column">
      <li class="nav-item">
       <a class="nav-link " aria-current="page" href="#">
        <span data-feather="home"></span>
        Dashboard
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link active" href="/user/teacher/courses">
        <span data-feather="file"></span>
        Course/Manage
       </a>
      </li>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
       <span>Account</span>
       <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
       </a>
      </h6>


      <li class="nav-item">
       <a class="nav-link" href="#">
        <span data-feather="file-text"></span>
        Settings
       </a>
      </li>
     </ul>
    </div>
   </nav>

   <main class="col-md-12 ml-sm-auto col-lg-10 ">
    <div class="row dashboard">
     <h1 class="h2 col-md-3 ">
      <%=folder.name%>
     </h1>
     <%if(folder.parent){%>
      <a class="btn btn-primary col-md-3" href="/api/courses/folders/<%=folder.parent%>/<%=course%>">back</a>
      <%}%>
       <div class="btn-group btn-group-sm  col-md-3 mx-0" role="group" aria-label="Create ">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_folder">
         Add Folder
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_document">
         Add Document
        </button>

       </div>

       <hr>

       <div id="liveAlertPlaceholder"></div>
    </div>

    <div style="padding-left: 40%">
     <% for(let i=0;i<content.length;i++){%>
      <% if(content[i].type=="Folder" ){%>
       <div class="row">
        <a role="button" href="/api/courses/folders/<%=content[i]._id%>/<%=course%>" class="btn btn-secondary btn-lg btn-block">

         <%=content[i].name%>
        </a>
        <form action="/api/courses/folders/delete/<%=content[i]._id%>" method="post"><button type="submit" role="button"
          class="btn btn-secondary btn-sm ">delete</button></form>
        <form action="/api/courses/folders/moveup/<%=content[i]._id%>" method="post"><button type="submit" role="button"
          class="btn btn-secondary btn-sm ">moveup</button></form>
       </div>
       <%}else if(content[i].type=="Document" ){%>
        <div class="row">
         <a role="button" href="/api/courses/document/<%=content[i]._id%>/<%=course%>" class="btn btn-secondary col-md-6">
          <%=content[i].name%>
         </a>
         <form action="/api/courses/document/delete/<%=content[i]._id%>" method="post"><button type="submit"
           name="delete" class="btn col-md-3 btn-secondary ">delete</button></form>
         <form action="/api/courses/document/moveup/<%=content[i]._id%>" method="post"><button type="submit"
           name="delete" class="btn col-md-3 btn-secondary ">moveup</button></form>
        </div>
        <%}%>

         <%}%>


    </div>



    <div class="modal fade" id="add_folder" tabindex="-1" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">
     <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <form action="/api/courses/folders/<%=course%>" method="post">
       <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="modalTitleId">
          Add Folder to <%=folder.name%>
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="mb-3">
          <label for="newFolderName" class="form-label">Name </label>
          <input type="text" required class="form-control form-control-sm" name="name" id="newFolderName"
           aria-describedby="addFolderHelp" placeholder="folder name here " />
         </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
         </button>

         <button type="submit" class="btn btn-primary" name="parent" value="<%=folder._id%>">Add</button>
        </div>
       </div>
      </form>
     </div>
    </div>

    <!-- Modal trigger button -->

    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="add_document" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     role="dialog" aria-labelledby="document_add" aria-hidden="true">
     <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <form action="/api/courses/document/<%=course%>" method="post">
       <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="document_add">
          Add new Document to <%=folder.name%>
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="mb-3">
          <label for="newFolderName" class="form-label">Name </label>
          <input type="text" required class="form-control form-control-sm" name="name" id="newFolderName"
           aria-describedby="addFolderHelp" placeholder="folder name here " />
         </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
         </button>
         <button type="submit" name="parent" value="<%=folder._id%>" class="btn btn-primary">Add</button>
        </div>

       </div>
      </form>
     </div>
    </div>


    <script>
     const DocumentModal = new bootstrap.Modal(
      document.getElementById("add_document"),
      options,
     );
    </script>


   </main>
  </div>
 </div>


 <script src="/js/jquery-3.6.3.min.js"></script>
 <script src="/boot/js/bootstrap.js"></script>
 <script>
  const myModal = new bootstrap.Modal(
   document.getElementById("add_folder"),

  );
 </script>


</body>

</html>